@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0%;
    padding: 0%;
    background-image:url(images/image-1.svg) ;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif
}
.start{
    display: flex;
    color: white;
    width: auto;
    height: 600px;    
}
.right-side{
    flex: 50%;
    position: relative;
    left: 100px;
    top: 90px;
}
button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 13px 60px;
    border-radius: 80px;
    border-style: hidden;
    color: hsl(257, 40%, 49%);
    font-size: 19px;
    transition: 0.3s;
}
button:hover{
     color: white;
     background-color: hsl(300, 69%, 71%);     
}
#heading{
    font-size: 40px;
}

.left-side{
    flex: 50%;
}
#img{
    position:relative;
    left: 50px;
    top: 40px;
}
ion-icon{
    position: relative;
    left: 1200px;
    top:10px;
    font-size: 30px;
    color: white;
    background-color: hsl(257, 40%, 49%);
}
ion-icon{
    transition: 0.3s;
}
ion-icon:hover{
     color: hsl(300, 69%, 71%);
}

/* mobile view */

@media screen and (max-width:375px){
    body{
        background-image:url(images/mobimage-1.svg);
    }
    #logo{
        width: 60%;
        height: auto;
        padding-top: 15px;
        padding-left: 15px;
    }
    .start{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    #img{
        position: relative;
        width: 290px;
        left: 20px;
        top: 20px;
        

    }
    #heading{
        font-size: 25px;
        text-align: center;
        position: relative;
        right: 100px;
        bottom: 15px;
    }
    #para{
        font-size: 12px;
        text-align: center;
        white-space: nowrap;
        position: relative;
        right: 110px;
        margin: 10px 20px;
    }
    #btn{
        position: relative;
        top: 20px;
        padding: 15px 90px;
        right: 30px;
    }
    .social{
        position: relative;
        right: 1070px;
        top: 170px;
    }


 

    
}
    







